<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangzhuang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{57,67}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,9},{57,67}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>bangzhuang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,124},{77,91}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{77,91}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>bangzhuang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{91,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{91,87}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>egg01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{43,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{43,55}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>egg02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,258},{71,47}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{71,47}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>egg03.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,203},{53,87}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{53,87}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>flower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,124},{25,21}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,55},{25,21}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>flower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,119},{35,37}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{35,37}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>flower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,280},{45,67}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{45,67}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>flower04.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,203},{75,67}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{75,67}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>flower05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{79,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>water01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{51,52}}</string>
                <key>offset</key>
                <string>{42,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,6},{51,52}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>water02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,307},{55,52}}</string>
                <key>offset</key>
                <string>{33,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,7},{55,52}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>water03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{113,120}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{113,120}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>water04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,134}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{115,134}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>supEmoji.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8293387f6b13d58bd144b078800a75f6:dd689492f80cdb0e327dd33ccd29beaa:b9aca999bbcea49e8fd2a83bd8407214$</string>
            <key>textureFileName</key>
            <string>supEmoji.png</string>
        </dict>
    </dict>
</plist>
