<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>feiji_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{195,137}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{195,137}}</string>
                <key>sourceSize</key>
                <string>{209,163}</string>
            </dict>
            <key>feiji_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,137}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{197,137}}</string>
                <key>sourceSize</key>
                <string>{209,163}</string>
            </dict>
            <key>feiji_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{195,137}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{195,137}}</string>
                <key>sourceSize</key>
                <string>{209,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feiji_ani.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6200973de117a179239d338d788e3a17$</string>
            <key>textureFileName</key>
            <string>feiji_ani.png</string>
        </dict>
    </dict>
</plist>
