<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shunzi_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{205,90}}</string>
                <key>offset</key>
                <string>{-38,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{205,90}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{203,98}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{203,98}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,72},{231,92}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{231,92}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,76}}</string>
                <key>offset</key>
                <string>{44,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,29},{247,76}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{235,68}}</string>
                <key>offset</key>
                <string>{51,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,34},{235,68}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,242},{195,72}}</string>
                <key>offset</key>
                <string>{31,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,33},{195,72}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{225,68}}</string>
                <key>offset</key>
                <string>{47,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,32},{225,68}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
            <key>shunzi_ani_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,439},{131,64}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,36},{131,64}}</string>
                <key>sourceSize</key>
                <string>{337,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunzi_ani.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8358365c3e62cfbb7e9b9e9c22ac0c0$</string>
            <key>textureFileName</key>
            <string>shunzi_ani.png</string>
        </dict>
    </dict>
</plist>
