<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voiceplay01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>voiceplay02.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>voiceplay03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>voiceplay.pvr.ccz</string>
            <key>size</key>
            <string>{179,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c5f687ef6a02d65117d835a930d96f9:c59ed175574f15c6cbcdd3ccc5af5769:8580e4a551ec36bbb019093de707721c$</string>
            <key>textureFileName</key>
            <string>voiceplay.pvr.ccz</string>
        </dict>
    </dict>
</plist>
